.mediaDetails-card img {
    height: 90vh; 
    border-radius: 0;
}

mediaDetails-card {
    border: 0px;
    border-radius: 0;
    position: relative;
}
.mediaDetails-card.card-body {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}